main{
    width: 100%;
    min-height: 100vh;
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: auto minmax(auto , 1fr);

    > #btn_menu{
        display: none;
    }

    > .capa_menu{
        display: none;
    }
}